*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width:100%;
    height:100vh;
    background image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.archdaily.com%2F964460%2F6-urban-design-projects-with-nature-based-solutions&psig=AOvVaw2ORQt8fy-rS-556ABrzT8z&ust=1733850657839000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJj-vJ2Xm4oDFQAAAAAdAAAAABAZ);
    background-size: cover;
    background-position: center;
}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space: between;
}
.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: #56284b;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height; 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #060a4a;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content h2{
    font-size: 60px;
    margin-top: 70px;
}
.content p1{
    margin: 30px auto;
    font-weight: 150;
    line-height: 30px;
}
.content p2{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
